<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmanuelmuturia.unify">

    <application
        android:allowBackup="true"
        android:icon="@drawable/playstore"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MilesToKilometres"
            android:exported="false" />
        <activity
            android:name=".FahrenheitToCelsius"
            android:exported="false" />
        <activity
            android:name=".GallonsToLitres"
            android:exported="false" />
        <activity
            android:name=".OuncesToKilograms"
            android:exported="false" />
        <activity
            android:name=".FeetToMetres"
            android:exported="false" />
        <activity
            android:name=".DollarsToShillings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>